Source: docker-compose
Maintainer: VRT Systems <support@vrt.com.au>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3),
 debhelper (>= 7.4.3)
Standards-Version: 3.9.1

Package: docker-compose
Architecture: all
Depends: ${misc:Depends}, ${python:Depends} python-requests (>=2.6.1),
 python-requests (<<2.8), python-enum34, python-yaml, python-cached-property,
 python-texttable, python (>= 2.7~), python-docker, python-jsonschema,
 python-websocket, python-docopt, python (<< 2.8), python-six, python-dockerpty
Description: Multi-container orchestration for Docker
